header {
    background-image: url(TH_B2_Data/header.png);
    height: 100px;
    margin: auto;    
}

#banner {
    height: 36px;
}

header #head-1{
    height: 100px;
    position: absolute;
    top: -30px;    
    animation-name: key-1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes key-1 {
    from {left: 80%;}
    to {left: 30%;}
}

body{
    width: 1024px;
    margin: auto;
}

header #head-2{
    height: 70px;
    position: absolute;
    top: -5px;
    animation-name: key-2;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes key-2 {
    from {left: 80%;}
    to {left: 45%;}
}

header #head-3{
    height: 80px;
    position: absolute;
    top: 0px;
    animation-name: key-3;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes key-3 {
    from {left: 80%;}
    to {left: 63%;}
}

header nav {
    margin-top: 20px;
}

header nav a{
    float: left;
    border: 1px solid white;
    padding: 2px 4px;
    margin-left: 3px;
    height: 20px;
    text-align: center;
    color: #ed4190;
    font-size: 17px;
    background-color: #ffff80;
    text-decoration: none;  
    border-radius: 10px;  
}
 
header nav a:hover {
    color: #fff;
    background-color: #ed4190;
}

header .icon_search{
    padding-top: 3px;
    float: right;
}

.icon, .icon_cart{
    padding: 4px;
    min-width: 30px;
    color: white;
    background-color: #cddc39;
}

.icon_cart{
    color: #ed4190;
}

footer {
    margin-top: 2px;
    border: 1px solid #ccc7c8;
    border-radius: 5px;
    padding: 0px 5px;
    /* color: white; */
    position: relative;
    text-align: center;
}

footer > a[href=".return_to_head"]{
    
    
    
}

footer a{
    color: #ed4190;
    text-decoration: none;
}

.return_to_head img{
    width: 50px;
    position: fixed ;
    z-index: 100px;   
    right: 10px;
    bottom: 5px;    
    color: #ed4190;
    padding: 10px;    
}

h1 {
    color: #f9086d;
    margin-top: 12px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-family: sans-serif;
    font-weight: bold;
    height: 34px;
}

h2 {
    margin-top: 12px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    color: #f9086d;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 300px;
    height: 28px;
}

.type1 {
    display: inline-block;
    .hinh_video{
        float: left;
        width: 30%;
    }
    p {
        text-align: justify;
        font-size: 20px;
        float: right;
        width: 69%;
        margin-top: 0;
        margin-bottom: 5px;
        padding: 0px 5px;
        color: #000;
    }
    
}

.type2 {
    display: inline-block;
    .hinh_video{
        float: right;
        width: 30%;
    }
    p {
        float: left;
        text-align: justify;
        font-size: 20px;
        width: 69%;
        margin-top: 0;
        margin-bottom: 5px;
        padding: 0px 5px;
        color: #000;
    }
}

.type3 {
    font-family: sans-serif;
    column-count: 2;
    text-align: justify;
    font-size: 20px;
    h3 {
        break-before: column;
        color: #f9086d;
    }    
}

.type4 {
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
      
}

.element {
    display: inline-block;
    border: solid #ed4190;
    border-width: 1px;
    border-radius: 5px;
    padding-top: 5px;
    width: 24%;
}

h2 {
    display: flex;
}

p {
    font-family: sans-serif;
}

section {
    display: flex;    
    /* align-items: center;
    justify-content: space-between; */
    margin: 0;
    padding: 0px;
    color: #ed4190;
    flex-wrap: wrap;
}

section > div{
    display: flex;
    align-items: center;
    margin: 3px;
    border: 1px solid #dbd7d9;
    padding: 0px;
    color: #ed4190;
    justify-content: space-between;
    text-align: justify; 
    flex: 1 1 0;
    background: linear-gradient(to top, #cddc39 0%, #f4f4f400 10%);
    flex-direction: column
}

section > div > img{
    display: block;
    margin: 0 auto;
}

section > div > h2 {
    display: block;
    text-align: center;
}

section > div > span{
    display: block;
    margin: 4px;
    padding: 3px;
    width: 100%;
    color: #000;
    text-align: center;
    max-lines: 2;
}